doctype
//if lt IE 7
    <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
    <html class="no-js lt-ie9 lt-ie8">
//if IE 8
    <html class="no-js lt-ie9">
//[if gt IE 8]><!
html.no-js
    //<![endif]
    block vars
        - var pageTitle='<%= _.escape(projectName) %>'
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title= pageTitle
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='bower_components/normalize-css/normalize.css')
        link(rel='stylesheet', href='styles/main.css')
        script(src='bower_components/modernizr/modernizr.js')
    body
        //if lt IE 7
            p.browsehappy
                | You are using an <strong>outdated</strong> browser.
                | Please <a href="http://browsehappy.com/">upgrade your browser</a>
                | to improve your experience.

        block content

        script(src='bower_components/jquery/jquery.js')
